services:
  nats:
    image: nats:2.10-alpine
    container_name: smart-nats
    ports:
      - '4222:4222'
      - '6222:6222'
      - '8222:8222'
    command:
      [
        '--js',
        '--sd',
        '/data',
        '--http_port',
        '8222',
        '--name',
        'smart-nats',
        '--server_name',
        'smart-nats',
      ]
    volumes:
      - nats_data:/data

  db:
    image: postgres:16
    restart: always
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
      POSTGRES_DB: HuertasDB
      TZ: 'America/Lima'
      POSTGRES_INITDB_ARGS: '--encoding=UTF8'
      PGCLIENTENCODING: 'UTF8'
    container_name: huertas-db
    command: postgres -c 'client_encoding=UTF8'
    volumes:
      - postgres:/var/lib/postgresql/data

volumes:
  nats_data:
    driver: local
  postgres:
    driver: local
  mongodb_data:
    driver: local
  mongodb_config:
    driver: local
